
<div class="header">
	<div class="container-fluid">
		<div class="pull-right">
			<ul class="nav nav-pills">
				{% if page.category != "home" %}
				<li role="presentation" ><a href="{{site.baseurl}}/">Home</a></li>
				{% endif %}
				<li role="presentation" {% if page.category == "dei" %}class="active"{% endif %}><a href="{{  site.baseurl  }}/dei">DEI</a></li>
				<li role="presentation" {% if page.category == "outreach" %}class="active"{% endif %}><a href="{{ site.baseurl }}/outreach">Outreach</a></li>
				<li role="presentation" {% if page.category == "research" %}class="active"{% endif %}><a href="{{ site.baseurl }}/research">Research</a></li>
				<li role="presentation" {% if page.category == "education" %}class="active"{% endif %}><a href="{{ site.baseurl }}/education">Education</a></li>
			</ul>
		</div>
	</div>
</div>
